<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button style="margin: 0 10px;"
            (click)="showSideBar()">
      <mat-icon aria-label="Open menu">menu</mat-icon>
    </button>
    <span>Socket.io test client</span>
    <app-progress-bar></app-progress-bar>
    <span class="spacer"></span>
    <mat-input-container class="header-item" style="width: 300px;" floatPlaceholder="never">
      <input [disabled]="socketIoService.connectedSocketEvent | async"
             matInput
             [ngModel]="connectUrl | async"
             [ngModelOptions]="{ updateOn: 'blur' }"
             (ngModelChange)="connectUrlChange($event)"
             type="url"
             required
             placeholder="http://localhost:3000">
    </mat-input-container>
    <button [disabled]="socketIoService.connected | async" mat-raised-button class="header-item" style="color: #000;"
            (click)="connect()">Connect
    </button>
    <button mat-raised-button class="header-item" color="warn" (click)="disconnect()">Disconnect</button>
  </mat-toolbar-row>
</mat-toolbar>
