<mat-grid-list cols="10" rowHeight="100px">
  <mat-grid-tile class="align-center"
                 [colspan]="5"
                 [rowspan]="4">
    <app-json-editor [(text)]="data" [options]="{mode: 'code'}" style="width: 100%;height: 95%"></app-json-editor>
  </mat-grid-tile>
  <mat-grid-tile class="align-center"
                 [colspan]="5"
                 [rowspan]="4">
    <mat-card class="history-card">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            Event callback result
          </ng-template>
          <mat-accordion style="height: 18rem;">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Personal data
                </mat-panel-title>
                <mat-panel-description>
                  Type your name and age
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-form-field>
                <input matInput placeholder="First name">
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Age">
              </mat-form-field>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Self aware panel
                </mat-panel-title>
                <mat-panel-description>
                  Currently I am {{panelOpenState ? 'open' : 'closed'}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>I'm visible because I am open</p>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Event History
          </ng-template>
          <mat-list style="max-height: 100%">
            <h3 mat-subheader>Emited events history</h3>
            <mat-list-item *ngFor="let historyEvent of (emitHistory | async) as historyEvents">
              <mat-icon [title]="historyEvent.created | date: 'medium'" mat-list-icon>send</mat-icon>
              <h4 mat-line title="Event name">{{historyEvent.emitEventName}}</h4>
              <p mat-line title="channel name"> {{historyEvent.emitChannelName}} </p>
              <div class="history-card-item">
                <button mat-raised-button (click)="openPayload(historyEvent.data, {editable: true})" color="accent">
                  payload
                </button>
                <button mat-raised-button (click)="emitFromHistory(historyEvent)" color="primary">Emit</button>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="align-center"
                 [colspan]="5"
                 [rowspan]="1">
    <mat-card class="button-row">
      <mat-input-container floatPlaceholder="auto">
        <input matInput [(ngModel)]="emitEventName"
               type="text"
               required
               placeholder="Event name">
      </mat-input-container>
      <mat-input-container floatPlaceholder="auto">
        <input matInput [(ngModel)]="emitChannelName"
               type="text"
               placeholder="Channel">
      </mat-input-container>
      <button mat-raised-button (click)="emit()">Emit</button>
      <button mat-raised-button color="primary">Primary</button>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="align-center"
                 [colspan]="5"
                 [rowspan]="1">
    <mat-card class="button-row">
      <mat-input-container floatPlaceholder="auto">
        <input matInput [(ngModel)]="listenEventName"
               type="text"
               required
               placeholder="Listen event name">
      </mat-input-container>
      <mat-input-container floatPlaceholder="auto">
        <input matInput [(ngModel)]="listenChannelName"
               type="text"
               placeholder="Listen channel">
      </mat-input-container>
      <button mat-raised-button (click)="listen()">Listen</button>
      <button mat-raised-button color="primary">Primary</button>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
