.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .sidenav-list {
    flex-direction: column;
    display: flex;
    margin: 10px;

    .sidenav-button {
      width: 200px;
    }
  }
}
