.example-icon {
  padding: 0 14px;
}

.demo-tab-group {
  border: 1px solid #e8e8e8;
}

.demo-tab-content {
  padding: 16px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15px;
  width: 100%;
}

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
