<mat-sidenav-container
  class="example-container" (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <p>
      <button mat-button (click)="close('toggle button')">Toggle</button>
    </p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Socket.io test client
          <mat-input-container class="header-item" style="width: 300px;" floatPlaceholder="never">
          <input matInput #tabName
                 type="text"
                 placeholder="Tab">
        </mat-input-container>
          <button mat-raised-button style="color: #000;"
                  (click)="addTab(tabName.value)">New Tab
        </button>
          <button mat-raised-button color="warn"
                  (click)="closeTab()">Close current Tab
        </button></span>
        <app-progress-bar></app-progress-bar>
        <span class="example-spacer"></span>
        <mat-input-container class="header-item" style="width: 300px;" floatPlaceholder="never">
          <input [disabled]="socketIoService.connected" matInput [(ngModel)]="socketUrl"
                 type="url"
                 required
                 placeholder="http://localhost:3000">
        </mat-input-container>
        <button [disabled]="socketIoService.connected" mat-raised-button class="header-item" style="color: #000;"
                (click)="connect()">Connect
        </button>
        <button mat-raised-button class="header-item" color="warn" (click)="disconnect()">Disconnect</button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="app-content">
      <mat-tab-group (selectedTabChange)="tabChange($event)" class="demo-tab-group">
        <ng-container *ngIf="(tabs | async) as allTabs">
          <ng-container *ngIf="allTabs.length > 0">
            <mat-tab *ngFor="let tab of allTabs; trackBy: trackTabs" [label]="tab.name">
              <div style="background-color: #fafafa;">
                <app-socket-tab [tabId]="tab.index"></app-socket-tab>
              </div>
            </mat-tab>
          </ng-container>
        </ng-container>
      </mat-tab-group>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
