<mat-sidenav-container
  class="example-container" (backdropClick)="close()">
  <mat-sidenav #sidenav (keydown.escape)="close()" disableClose>
    <p>
      <button mat-button (click)="close()">Toggle</button>
    </p>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header></app-header>
    <div class="app-content">
      <mat-tab-group (selectedTabChange)="tabChange($event)" class="demo-tab-group">
        <ng-container *ngIf="(tabs | async) as allTabs">
          <ng-container *ngIf="allTabs.length > 0">
            <mat-tab *ngFor="let tab of allTabs; trackBy: trackTabs" [label]="tab.name">
              <div style="background-color: #fafafa;">
                <app-socket-tab [tabId]="tab.index"></app-socket-tab>
              </div>
            </mat-tab>
          </ng-container>
        </ng-container>
      </mat-tab-group>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
