.history-card {
  height: 21rem;
  width: 100%;
}

.history-card-item {
  float: right;
  display: flex;
}

.history-card-item button {
  margin: 0 2px;
}

.align-center > > > .mat-figure {
  align-items: start;
  justify-content: start;
  margin: 15px;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15px;
  width: 100%;
}
